#selectedNumber,
#selectedType {
    margin-left: 2rem;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.hex {
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: var(--bs-border-radius);
    /* Rotate the square by 45 degrees */
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8rem;
}

.content {
    /* Rotate the content back to its original orientation */
    transform: rotate(-45deg);
    text-align: center;

}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}